.DS_Store
/assignments/assignment2/data
/assignments/assignment2/.ipynb_checkpoints
/dl-venv
/assignments/assignment2/__pycache__
/assignments/assignment1/.ipynb_checkpoints
/assignments/assignment3/.ipynb_checkpoints
/assignments/assignment3/__pycache__
/assignments/assignment1/__pycache__
